*{
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    background-color: #EEF3FA;
    color: #606060;
    font-size: 14px;
    font-family: 微软雅黑, 宋体, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    min-width: 990px;/*该属性值会对元素的宽度设置一个最小限制。因此，元素可以比指定值宽，但不能比其窄。不允许指定负值。*/
    margin: 0 auto;
}
/*头部*/
.header{
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
}
.header-logo{
    display: inline-block;
    margin: 10px auto;
    vertical-align: middle;

}
.header-tab{
    display: inline-block;
    float: right;
    font-size: 12px;
    padding-top: 9px;
    line-height: 20px;
}
.header-tab>a{
    text-decoration: none;
    color: #606060;
}
.header-tab>a:hover{
    color: rgb(17,37,189);
    text-decoration: underline;
    cursor: pointer;
}
.header-tab>span{
    padding: 0 9px;
}

.nav{
    height: 36px;
    background: url("../img/nav_bg.png") repeat-x;
    overflow: hidden;
}
.menus{

    width: 990px;
    margin: 0 auto;
}
.menus>ul{
    float: left;
}
.menus>ul>li{
    float: left;
    padding-right: 10px;
}
.menus a{
    display: inline-block;
    width:132px ;
    height: 36px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background: url(../img/navbg.png) no-repeat;
}
.menus .nav1{
    background-position: 0 0;
}
.menus .nav1:hover{
    background-position: 0 -36px;;
}
.menus  .nav2{
    background-position: -132px 0;
}
.menus  .nav2:hover{
    background-position: -132px -36px;
}
.menus  .nav3{
    background-position: -264px -36px;
}
.menus  .nav4{
    background-position: -396px 0;
}
.menus  .nav4:hover{
    background-position: -396px -36px;
}
.nav-campus{
    float: right;
    width: 116px;
    height: 36px;
    cursor: pointer;
    background: url(../img/nav_xy.png) no-repeat 0 center;
}
/*end 头部*/
/* 详细介绍*/
main{
    padding-top: 12px;
    margin: 0 auto;
    width: 990px;
    overflow: hidden;
}
.knowqqleft{
    min-height: 163px;
    width: 228px;
    background-color:#FAFDFF ;
    border: 1px solid #D3E1ED;
    float: left;
}
.centerleft{
    margin-top: 7px;
    position: relative;
    left: -7px;
    margin-bottom: 7px;
}
.centerleft a{
    padding-left: 38px;
    display: block;
    height: 37px;
    line-height: 30px;
    text-decoration: none;
}
.centerleft a:hover{
    color:rgb(17,37,139);
    text-decoration: underline;
}
.centerleft  li:nth-child(1){
    color: #fff;
    font-weight: bold;
    background: url(../img/leftmenu.png) no-repeat;
    text-decoration: none;
}
.knowqqright{
    float: right;
    background-color: #FAFDFF;
    padding: 11px 25px 14px;
    width: 699px;
    min-height: 460px;
    border: 1px solid #D3E1ED;
}
.blueline{
    background: url(../img/blueline.png) repeat-x 0 bottom;
}
.butgsjs{
    height: 25px;
    width: 66px;
    border-bottom: 1px solid #69CBF1;
    background: url(../img/titles.png) no-repeat;
    background-position: -1034px 0;
}
.height10{
    height: 10px;
    overflow: hidden;
}
.konwqqcont{
    width: 704px;
    margin: 0 auto;
}
img{
    border: none;
    vertical-align: middle;
}
.ptb9{
    padding: 9px 0;
    line-height: 24px;
}
.height30{
    height: 30px;
}
.bold{
    line-height: 24px;
    font-weight: bold;
}
.height20{
    height: 20px;
}
/* end 详细介绍*/
/*底部招聘全集*/
article{
    padding-top: 50px;
}
article>table{
    width: 960px;
    margin: 0 auto;
}
article>table a{
    color: #464646;
    text-decoration: none;
    cursor: pointer;
}
article>table a:hover{
    color:rgb(17,37,139);
    text-decoration: underline;
}
/*end 底部招聘全集*/
/*版权信息*/
footer{
    width: 990px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 12px;
    text-align: center;
    color: #999;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}
/*end 版权信息*/